[settings]
experimental = true
lockfile = true

[tools]
go = "latest"
hk = "latest"
pkl = "latest"
prettier = "latest"

[env]
_.file = '.env'

[tasks.setup]
run = ["mise install", "hk install", "mise lock"]

[tasks.build]
run = "go build ./..."

[tasks.test]
run = [
    # "go test ./client/screenscraper/...", # Disabled because it hits the live API
    "go test ./lib/romident/...",
]

[tasks.rom-tools]
run = "go run ./cmd/rom-tools"

[tasks.clean]
run = "go clean"

[tasks.check]
description = "Run all checks (linters, etc.)"
run = "hk run check"

[tasks.fix]
description = "Run all fixers (format, generate docs, etc.)"
run = "hk run fix"

[tasks.gen-docs]
run = [
    "rm -rf docs",
    "go run ./cmd/gen-docs",
    "prettier --log-level silent --write docs/**/*.md",
]
